canvas {
    margin: 0%;
    shape-rendering: optimizeSpeed;
	  display: block;
	  position: fixed;
	  top: 0;
	  left: 0;
	  z-index: -9999;
}
body {
    overflow: hidden;
}
@font-face {
  font-family: aller_bold;
  src: url(/public/assets/fonts/ALLER.ttf);
}
.message_div {
  position: absolute;
  right: 50%;
  bottom: 20%;
  transform: translateX(50%) translateY(50%);
}
#player_input {
	background-color: transparent; /* Set the background color to transparent */
  border: white; /* Remove the border */
	border-style: dashed;
	
  font-family: aller_bold; /* Set the font-family to the custom font stored in the server */
	
	resize: none;
	
  text-align: center;

  width: 65vh;
  height: 15vh;

  color: white; /* Set the text color */
}
#player_input::selection {
  background-color: rgba(255, 192, 203, 0.5);
}